apiVersion: v1
kind: Service
metadata:
  name: express-server
  labels:
    app: express-server
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: express-server
