name: Docker image CI

on:
  push:
    branches: [main]
    tags:
      - 'v1.0.0'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Get version
        id: version
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          else
            VERSION=latest
          fi
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}  
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/node_js_server
          COMMIT_SHA=${{ github.sha }}
          
          # Build với 2 tags: latest và commit SHA
          docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:${COMMIT_SHA:0:7} .
          
          # Push cả 2 tags
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:${COMMIT_SHA:0:7}
      
      # - name: Trigger Render Deploy
      #   run: |
      #     curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}